h1 {
  color:white;
  font-family: 'Abril Fatface', cursive;
}
p {
  color: white;
  font-family: 'Open Sans';
}
.image{
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  height: 700px;
  position: fixed;
  left: 0;
  right: 0;
}
