header {
    width: auto;
    padding: 25px;
    background-color: transparent;
}

h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: 400;
  word-spacing: 2px;
  letter-spacing: 0.02em;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 19px;
  padding-top: 15px;
  letter-spacing: 0.1em;
  color: white;
  text-transform: uppercase;
}

i {
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 2px;
}

.fa-instagram {
  font-size: 26px;
  color: white;
}

.fa-facebook {
  font-size: 26px;
  color: white;
}

.fa-twitter {
  font-size: 26px;
  color: white;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16.8px;
  margin-left: 50px;
}

body{
  color:rgb(230,239,242);
  background-image: url('https://images.unsplash.com/photo-1570475735025-6cd1cd5c779d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-size: cover;
}

h2{
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 50px;
}

li{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16.8px;
  margin-left: 50px;
}

h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: white;
  margin-left: 50px;
}

h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  margin-left: 50px;
}

img{
  height:420px;
  width:420px;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: 80px;
}
