
header {
    width: 100%;
    padding: 25px;
    z-index: 10;
    position: fixed;
    background-color: transparent;
}

h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: 400;
  word-spacing: 2px;
  letter-spacing: 0.02em;
}

a {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  font-size: 19px;
  padding-top: 15px;
  letter-spacing: 0.1em;
  min-height: 50px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}

i {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
}

.fa-instagram {
  font-size: 26px;
}

.fa-facebook {
  font-size: 26px;
}

.fa-twitter {
  font-size: 26px;
}

.background-image-container {
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:750px;
    width: 1450px;
    opacity: 0.9;
  }

  .about-us {
    position: absolute;
    top: 15%;
    padding-top: 120px;
    padding-left: 15px;
  }

h2 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 200px;
  margin-left: 50px;
}
p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16.8px;
  word-spacing: 2px;
  line-height: 1.5;
}
